<template>
    <div class="container faq">
        <h1 class="title has-text-weight-bold">charts.tf is a stat processing website for third party Team Fortress 2 competitive games.</h1>
        <h2 class="subtitle has-text-weight-semibold">What is charts.tf?</h2>
        <p class="content">
            <strong>charts.tf</strong> started as a project inspired by <em>ETF2L Highlander spreadsheets</em>. These spreadsheets would show statistics
            of players throughout the entire season. While interesting for reference, the spreadsheet had to be set up manually
            which would not only take up a lot of <strong>time</strong>, but would also leave <strong>more room for error</strong>.
        </p>
        <p class="content">
            charts.tf <strong>mass combines</strong> a theoretically infinite amount of logs into one collection.
            It does this by querying data from logs.tf and parsing it appropriately.
        </p>
        <p class="content">
            It shows all relevant data in an easily <strong>sortable table</strong> and separates statistics by class.
        </p>
        <p class="content">
            Another issue is that logs traditionally show the 'total time' played rather than the actual time that was spent playing.
            <strong>charts.tf</strong> however <strong>does account for pauses</strong> when fetching logs: it counts up the duration of all the rounds and fixes stats
            based on time accordingly.
        </p>
        <p class="content">
            Just looking at the raw numbers would not always make it easy to make up anything out of it. Another goal <strong>charts.tf</strong> aims to achieve
            is <strong>visualising this data in the form of charts</strong>.
        </p>

        <h2 class="subtitle has-text-weight-semibold">How does it work?</h2>
        <p class="content">
            Inherently, logs are just text files. This means that it's relatively easy to process these and fetch relevant data out of them.
            <strong>charts.tf</strong> retrieves existing logs and uses the available data processed on <strong>Logs.TF</strong>, but also checks for other statistics that
            are not explicitly mentioned, like statistics regarding building and destroying sentries, dispensers and teleporters.
        </p>

        <h2 class="subtitle has-text-weight-semibold">Why is <em>&lt;insert stat here&gt;</em> not visible for <em>&lt;insert class here&gt;</em>?</h2>
        <p class="content">
            There can be several reasons. Either the stat was not deemed important enough to mention for a particular class (ex. heals received as Engineer, airshots on Scout...) or
            there is no straightforward way to count the amount of times an event occurred (ex. banners deployed on Soldier).
        </p>

        <h2 class="subtitle has-text-weight-semibold">There is an incorrect stat.</h2>
        <p class="content">
            Most of the stats before Season 8 of Highlander should be mostly accurate. If something doesn't seem to add up, 
            contact the creator.
            Medic stats past Season 7 are incomplete/incorrect.
            This is because logs.tf added the advanced medic stats at a time where not all season matches were played yet.
        </p>
    </div>
</template>

<script>
    export default {
        name: 'FrequentQuestions'
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

    @import '../style/components/components.faq';
</style>
