<template>
  <div class="c-nav-bar">
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <router-link class="navbar-item" to="/">
          <img src="../assets/logo_white.png" alt="Logo">
        </router-link>
        <a role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false" @click="isOpen = !isOpen" v-bind:class="{'is-active': isOpen}">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu" v-bind:class="{'is-active': isOpen}">
        <div class="navbar-start">
          <router-link class="navbar-item is-tab" to="/">
            Home
          </router-link>
          <router-link class="navbar-item is-tab" to="/about">
            About
          </router-link>
          <router-link class="navbar-item is-tab" to="/gallery">
            Gallery
          </router-link>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
  export default {
    name: 'PageHeader',
    data: function () {
      return {
        isActive: true,
        isOpen: false
      }
    },
    computed: {
      user() {
        return this.$store.getters.loggedInUser
      }
    },
    methods: {
      signOutOfSteam() {
        this.$store.dispatch('signOutUser')
          .then(() => {
            this.$router.go('/')
          })
          .catch(err => {
            console.error('An error occurred: ' + err)
          })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import '../style/components/components.navbar';
</style>

