<template>
    <frequent-questions />
</template>

<script>
import FrequentQuestions from '../components/FrequentQuestions';

export default {
  name: 'About',
  components: {
    FrequentQuestions
  }
}
</script>
