@import '../settings/_settings.global.scss';

body {
    font-family: 'Inter UI', sans-serif;
}

.nav__submit {
    background: url("../assets/sits_01.png");
}

.login-steam-icon {
    margin: 0 #{$gutter/3}px 0 0;
}

.user__image {
    border-radius: 50%;
}

span.user__name {
    padding: $basic-radius;
    color: rgba(255, 255, 255, 0.7);
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout {
    cursor: pointer;
}
