@import  '../settings/_settings.global.scss';

.faq {
    padding: #{$gutter}px;
}

h1 {
    line-height: 2rem;
}

h2 {
    padding: #{$gutter}px 0;
    font-size: 24px;
}

h3 {
    padding: #{$gutter}px 0;
    font-size: 20px;
}

p {
    font-size: 18px;
    line-height: #{ $gutter }px;
}
