@import '../settings/settings.global';

.c-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: #{$gutter / 1.5}px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.c-checkbox__checkmark {
    box-shadow: 0 #{$gutter / 12}px #{$gutter / 6}px #{$gutter / 24}px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
}

.c-checkbox-container:hover input ~ .c-checkbox__checkmark {
    background-color: white;
}

.c-checkbox-container input:checked ~ .c-checkbox__checkmark {
    background-color: $green;
}

.c-checkbox-container:after {
    content: "";
    position: absolute;
    //display: none;
}

.c-checkbox-container input:checked ~ .c-checkbox__checkmark:after {
    display: block;
}

.c-checkbox-container .c-checkbox__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
