// COLORS
$dark-green: #34937C;
$green: #45BF89;
$light-green: #D1DFA4;
$orange: #ECB66A;
$red: #DB624F;
$blue: #3FDDF2;
$white: #f2f2f2;

$black: #0c0c0c;
$fuchsia: #F012BE;

$red-chart: #db624f;
$green-chart: #4fdb9c;
$purple-chart: #744fdb;
$yellow-chart: #dba84f;

$primary-color: #34937C;
$secondary-color: #D1DFA4;

$table-cell-border-color: #e5e5e5;
$odd-cell-border-color: #e5e5e5;
$current-day-color: #fef4f4;
$main-color: #ec4d3d;
$weekend-color: #f7f7f7;
$hour-row-color: inherit;
$dark: #000000;
$light-gray: #9e9e9e;

// FONTS
$primary-font: 'Inter UI', Arial, Helvetica, sans-serif;
$primary-font-size: 16px;

// SIZES
$container-width: 1200px;

// GUTTER / GRID
$gutter: 24;
$basic-radius: 8px;
$page-radius: #{ $gutter }px;
$border-width: 2px;

// BREAKPOINTS
$phone-small: 320px;
	  $phone: 480px;
	 $tablet: 980px;
	 $laptop: 1140px;

// ANIMATIONS
$speed: 200ms;
$easing: ease-out;
